
@model CTS.Project.CTS.Models.CTSProfile
    <div>
        @Model.FirstName <a href=@Model.DetailPageUrl>View LeaderShip Details</a>
    </div>
    <div>
        @Model.LastName
    </div>

    <div>
        @Model.EmailId
    </div>

    <div>
        @Model.DateOfJoining
    </div>
