

@model CTS.Project.CTS.Models.LeadershipProfile

<div>
    @Model.LeaderName <a href=@Model.DetailPageUrl>View Profile</a>
</div>
<div>
    @Model.Des
</div>
<div>
    @Model.ProfileBrief
</div>
<div>
    @Model.Image
</div>
