<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
	<sitecore>
		<unicorn>
			<configurations>

				<configuration name="CTS.Project.CTS" description="This cconfiguration is used to serialize all the content and definition items altogether .">
					<predicate>

						<include name="Layouts" database="master" path="/sitecore/layout/Layouts/Project" />
						<include name="Renderings" database="master" path="/sitecore/layout/Renderings/Project" />
						<include name="Placeholder Settings" database="master" path="/sitecore/layout/Placeholder Settings/Project" />
						<include name="Templates" database="master" path="/sitecore/templates/Project" />
						<include name="Languages" database="master" path="/sitecore/system/Languages" />
						<include name="Content" database="master"  path="/sitecore/Content" />
						<include name="Media" database="master" path="/sitecore/media library/Images" />
					</predicate>

					<dataProviderConfiguration enableTransparentSync="false" />


					<syncConfiguration updateLinkDatabase="false" updateSearchIndex="false" />
				</configuration>
			</configurations>
		</unicorn>
	</sitecore>
</configuration>
