@model IEnumerable<CTS.Project.CTS.Models.NavigationItem>

@foreach(var navItem in Model)
            {
                <div>
                    <a href="@navItem.NavUrl">@navItem.NavTitle</a>
                </div>
            }
